div {
  padding: 0 150px;
  margin: 10px 0;
  border: 3px solid rgba(0, 0, 0, 0.493);
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.678);
  text-align: center;
}

.button-box, .attribut, .conclusion {
  border: none;
  color: rgba(0, 0, 0, 0.61);
}

 .conclusion {
   white-space: pre-line;
}

body {
  background-color: rgb(233, 229, 229);
  text-align: center;
  color: rgba(0, 0, 0, 0.788);
}
